<section>

  <div class="tela_saida">
    <div>
      <p class="tilibra">tilibra</p>
      <p class="tc03">TC03</p>
      <div>
        <p></p>
      </div>
      <p class="oito_digtis">8DIGITS</p>
    </div>
    <a>
      <span>{{ valor }}</span>
    </a>
  </div> 

  <button class="button_b" (click)="limpa_campos()">ON/C</button>
  <button class="button_a" (click)="limpa_campos()">CE</button>
  <button class="button_a" >MCR</button>
  <button class="button_a" >M-</button>
  <button class="button_a" >M+</button>
  <br>
  <button id="7" (click)="recebe_valor($event)">7</button>
  <button id="8" (click)="recebe_valor($event)">8</button>
  <button id="9" (click)="recebe_valor($event)">9</button>
  <button (click)="porcentagem()">%</button>
  <button (click)="raiz()">√</button>
  <br>
  <button id="4" (click)="recebe_valor($event)">4</button>
  <button id="5" (click)="recebe_valor($event)">5</button>
  <button id="6" (click)="recebe_valor($event)">6</button>
  <button class="button_multiplicar" (click)="mutiplicar()">*</button>
  <button (click)="dividir()">/</button>
  <br>  
  <button class="botao321-" id="1" (click)="recebe_valor($event)">1</button>
  <button class="botao321-" id="2" (click)="recebe_valor($event)">2</button>
  <button class="botao321-" id="3" (click)="recebe_valor($event)">3</button>
  <button class="botao_somar" (click)="somar()">+</button>
  <button class="botao321-" (click)="subtracao()">-</button>
  <br>
  <button class="botao_ponto_mais_barra_menos" id="0" (click)="recebe_valor($event)">0</button>
  <button class="botao_ponto_mais_barra_menos">.</button>
  <button class="botao_ponto_mais_barra_menos">+/-</button>
  <button class="igual" (click)="igual()">=</button>

</section>